{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<a href="#">Keep notes</a>
<br>
<a href="#">add notes</a>
<br>
<a href="settings.html">settings</a>
<br>
<a href="">Log out</a>
<h2>Recent notes</h2>
<br>
<hr>
{% for note in notes %}

<h2>{{note.title}}</h2>
<p>{{note.description}}</p>
<a href="/update/{{note.id}}/">Update</a>
<a href="/delete/{{note.id}}/">Delete</a>
<br>
<hr>
{% endfor %}


<form action="" method="POST">
    {% csrf_token %}
    <h3>add note</h3>
    {{form |crispy}}
    <button type="submit">Save</button>
    <button type="button" onclick="closeModal('add-modal')">Cancel</button>

</form>
 
{% endblock body %}